
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background-color: #f5de50;
    color: white;
    text-align: center;

}

#register {
	display:none;
}

#login {
	display:none;
}


.img-size{
	width:50%;
	height:auto;
}

.movieDetailsContainer{
    overflow:auto;
}
