body {
    background-image: url("https://4.bp.blogspot.com/-cP-2hq17x6Q/VsWR8UKOQlI/AAAAAAAABQE/3wnhoOxbrPI/s1600/deadpool-movie-wallpaper-4k-3840x2160.jpg");
}

.container {
    color: white;
    display: flex;
    justify-content: space-between;
}

#imdbicon {
    width:10%;
    height: 10%;
}

#searchBar {
    padding: 2%;
}

#buttons {
    padding: 2%;
}

#register {
	display:none;
}

#login {
	display:none;
}

#addMovieContainer {
    display:none;
}


.img-size{
	width:22%;
	height:auto;
}

.movieDetailsContainer{
    overflow:auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #f5de50;
    color: white;
    text-align: center;
    color: black;
    font-style: 

.item {
    display: inline-block;
}
