body {
    background: url("https://4.bp.blogspot.com/-cP-2hq17x6Q/VsWR8UKOQlI/AAAAAAAABQE/3wnhoOxbrPI/s1600/deadpool-movie-wallpaper-4k-3840x2160.jpg") no-repeat center fixed;
    background-size: cover;
}

.container {
    color: white;
    display: flex;
    justify-content: space-between;
}

#imdbicon {
    width:10%;
    height: 10%;
}

#searchBar {
    padding: 2%;
    width: 60%;
}

#searchBarInput {
    width: 90%;
}

#buttons {
    padding: 2%;
}

.img-size{
	width:22%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.movieDetailsContainer{
    overflow:auto;
}

#container {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #f5de50;
    color: white;
    text-align: center;
    color: black;
    font-style: normal;
}

